body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  width: 1280px;
  background: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*   header */
a {
  text-decoration: none;
  color: #000000;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
 }

.navigation-link--active {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
  text-underline-position: under;
}

.page-header{
  background: #FFFFFF;
  margin: 0 40px;
  width: 1200px;
  height: 64px;

}
.logo-navigation{
  margin: 0 44px 0 70px;
  width: 140px;
  height: 70px;
  overflow-clip-margin: content-box;
}

.navigation{
  display: flex;
}

.navigation-list{
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  width: 339px;
  margin-right: 285px;
}

.navigation-item {
  margin: 20px 16px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-item:first-child {
  margin-left: 0;
}

.user-list {
  display: flex;
  list-style: none;
  width: 268px;

}

.user-item {
  margin: 22px 12px;
}

.user-item:last-child {

}

.user-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/search.svg");
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;

}
.user-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/harts.svg");
  width: 20px;
  height: 20px;
  border: 0;
  background-repeat: no-repeat;
  background-color: transparent;

}

.user-application {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #756157;
  border-radius: 5px;
  width: 160px;
  height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

}
.favorite-number {
  display: flex;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  position: absolute;
  z-index: 2;
  margin-bottom: 33px;
  margin-top: 11px;
}

/* блок Main */
.main-content {
  background: #FFFFFF;
  margin: 0 40px;
  width: 1200px;
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.2);
}

/* блок Hero   */

.hero {
  display: flex;
  background-image: url("../images/index-background.jpg");
  margin: 0;
  width: 1200px;
  background-repeat: no-repeat;
  margin-top: -2px;
}

.welcome-slogan {
  margin-left: 371px;
  margin-right: 371px;
  margin-top: 51px;
  margin-bottom: 25px;

}

/* блок advantages  */
.advantages {
  width: 1200px;
  background-color: #FFFFFF;
  margin: 0;
}
.advantages-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;


}

.advantages-wrapper {
  width: 620px;
  margin: 69px 290px 290px 25px;
}
