body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background: #f2f2f2;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*   header */
a {
  text-decoration: none;
  color: #000000;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 20px 16px;
  display: block;
 }

.navigation-link--active {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
  text-underline-position: under;
}

.page-header{

}

.navigation{
  display: flex;
  position: relative;
  padding-left: 238px;
  justify-content: space-between;
}

.logo-link{
  position: absolute;
  left: 70px;
  top: 0;
}



.navigation-list{
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 480px;
}

.navigation-item {

}

.navigation-item:last-child {
  margin-right: 0;
}

.user-list {
  padding: 0 62px 0;
  margin: 0;
  display: flex;
  list-style: none;
  width: 268px;
  justify-content: space-between;
}

.user-item {
  margin: 0;
  padding: 22px 25px 4px 3px;
}

.user-item--application{
  padding: 14px 25px 12px 3px;
}


.user-search {
  align-items: center;
  justify-content: center;
  background-image: url("../images/search.svg");
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  display: block;


}
.user-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/harts.svg");
  width: 20px;
  height: 20px;
  border: 0;
  background-repeat: no-repeat;
  background-color: transparent;

}

.user-application {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #756157;
  border-radius: 5px;
  width: 160px;
  height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.favorite-number {
  display: flex;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  position: absolute;
  z-index: 2;
  margin: -22px -10px 0 0;

}

/* блок Main */
.main-content {
  background: #FFFFFF;
  margin: 0;
  width: 1200px;
}

/* блок Hero   */

.hero {
  background-color: #325b7f;
  background-image: url("../images/triangle.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center top;
  background-size: 100% 57px, cover;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 77px;
}

.welcome-slogan {


}

/* блок advantages  */
.advantages {
  width: 1200px;
  background-color: #FFFFFF;
  margin: 0;
}
.advantages-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.advantages-description {
  margin: 0;
  padding: 25px 0 0 0;
}

.advantages-wrapper {
  width: 652px;
  padding: 69px 276px;
  margin-bottom: 21px;
}

.advantages-list{
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.advantages-promo {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;

}

.advantages-content {
  width: 400px;
  background: #82B3D3;
  color: #ffffff;
  padding: 102px 85px 0  ;

}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
  text-decoration-thickness: 2px;
  text-underline-offset: 30px;
  text-underline-position: under;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
}
