@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background: #f2f2f2;
  color: #333333;
  min-width: 1280px;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*   header */
a {
  text-decoration: none;
  color: #000000;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 20px 16px;
  display: block;
}

.navigation-link--active {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
  text-underline-position: under;
}

.page-header {}

.navigation {
  display: flex;
  position: relative;
  padding-left: 238px;
  justify-content: space-between;
}

.logo-link {
  position: absolute;
  left: 70px;
  top: 0;
}

.navigation-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 480px;
}

.navigation-item {}

.navigation-item:last-child {
  margin-right: 0;
}

.user-list {
  padding: 0 70px 0;
  margin: 0;
  display: flex;
  list-style: none;
  width: 371px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.user-item {
  margin: 0;
  padding: 22px 25px 4px 3px;
}

.user-item--application {
  /* padding: 14px 25px 12px 3px; */
  padding: 14px 0 0 0;
}

.user-search {
  align-items: center;
  justify-content: center;
  background-image: url("../images/search.svg");
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  display: block;

}

.user-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/harts.svg");
  width: 20px;
  height: 20px;
  border: 0;
  background-repeat: no-repeat;
  background-color: transparent;

}

.user-button {
  display: inline-block;
  background: #756157;
  border-radius: 5px;
  min-width: 144px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  cursor: pointer;
  border: 0;
  text-align: center;
  padding: 8px 8px;
  font-weight: 700;
}

.user-button:hover {
  background-color: #615048;
}

.user-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.favorite-number {
  display: flex;
  background-color: #7DB54F;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  position: absolute;
  z-index: 2;
  margin: -22px -10px 0 0;

}

/* блок Main */
.main-content {
  width: 1200px;
  flex-grow: 1;
}

/* блок Hero   */

.hero {
  background-color: #82B3D3;
  background-image: url("../images/triangle.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center top;
  background-size: 100% 57px, cover;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 77px;
}



/* блок advantages  */
.advantages {
  width: 1200px;
  background-color: #ffffff;
  margin: 0;
  padding-top: 69px;
}

.advantages-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.advantages-description {
  margin: 0;
  padding: 25px 0 0 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
}

.advantages-wrapper {
  width: 710px;
  margin: 0 auto 90px;
  text-align: center;
}

.advantages-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-item {
  width: 400px;
  padding: 112px 85px 112px;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-promo {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 0;
}

.advantages-content {
  width: 400px;
  background: #82B3D3;
  color: #ffffff;
  padding: 102px 85px 102px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-left: 23px;
  padding-bottom: 33px;
  margin-bottom: 29px;
  position: relative;
  max-width: 183px;
}

.advantages-title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.advantages-promo .advantages-title::before {
  border-color: rgba(255, 255, 255, 0.3);
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.text-nowrap {
  white-space: nowrap;
}

.text-wrap {
  white-space: break-spaces;
}

.advantages-image {
  height: 100%;
  object-fit: cover;
}

/* блок service */
.service {
  width: 1200px;
  background-color: #ffffff;
  margin: 0;
  padding-top: 66px;
}

.service-wrapper {
  max-width: 505px;
  margin: 0 auto 65px;
  text-align: center;
}

.service-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.service-description {
  margin: 0;
  padding: 20px 0 0 0;
}

.service-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.service-item {
  width: 400px;
  padding: 81px 85px;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.2);
}

.service-item:nth-child(2n) {
  background-color: #ffffff;
}


.service-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 103px 0 29px 0;
  padding: 0;

}

.service-title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.service-housing .service-title::before {
  background-image: url("../images/home.svg");
  width: 75px;
  height: 72px;
  margin-bottom: 58px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  display: block;
}

.service-food .service-title::before {
  background-image: url("../images/food.svg");
  width: 75px;
  height: 72px;
  margin-bottom: 58px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  display: block;
}

.service-souvenir .service-title::before {
  background-image: url("../images/souvenir.svg");
  width: 64px;
  height: 75px;
  margin-bottom: 58px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  display: block;
}

.service-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* блок search */

.search {
  background-color: #ffffff;
  margin: 0;
  padding-top: 95px;
  padding-bottom: 95px;
}

.search-wrapper {
  max-width: 592px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.search-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.search-description {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 54px;
  max-width: 592px;

}

.search-button {
  display: inline-block;
  padding: 8px 2px;
  font-weight: 700;
  line-height: 36px;
  font-size: 20px;
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  border: none;
  width: 376px;
  cursor: pointer;
  border-radius: 4px;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}


.footer {
  margin: 0;
  flex-grow: 1;
}

.subscribe {
  background-color: #82B3D3;
  margin: 0;
  padding-top: 96px;
  padding-bottom: 104px;
  color: #ffffff;
  background-image: url("../images/subscribe.jpg");
}


.subscribe-wrapper {
  max-width: 475px;
  margin: 0 auto 54px;
  text-align: center;
}

.subscribe-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
}

.subscribe-catalog {
  background-image: none;
  color: #333333;
  background-color: #ffffff;
}

.subscribe-form {
  width: 684px;
  display: flex;
  margin: 0 auto;
}

.feedback-form-button {
  display: inline-block;
  padding: 7px 50px;
  font-weight: 700;
  line-height: 36px;
  font-size: 20px;
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0;
  border-radius: 0 4px 4px 0;
}


.feedback-form-button:hover {
  background-color: #68a2ca;
}

.feedback-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.subscribe-form-email {
  padding: 0 20px;
  margin: 0;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  font-family: inherit;
  width: 412px;
  height: 51px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-email-catalog {
  background-color: #f2f2f2;
}

.contacts {
  margin: 0;
  width: 1200px;
}

.contact-items {
  margin: 0;
  padding: 45px 71px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.contact-link {
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
  text-transform: uppercase;
}

.link-wrapper {
  box-sizing: border-box;
  width: 331px;
  display: block;
}

.contact-item {
  margin: 0;
  padding: 0;
}

.tooltip {
  position: absolute;
  margin-top: 24px;
  margin-left: 22px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  display: flex;
  margin: 0;
  width: 26px;
  height: 26px;
  color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  align-items: center;
  justify-content: center;
}

.tooltip-icon {
  width: 1px;
  height: 9px;

  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #68a2ca;
}

.tooltip-text-container {
  display: none;
  padding-top: 20px;
  width: 256px;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip-text {
  font-family: inherit;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 20px 18px 18px 22px;
  border-radius: 10px;
  display: block;
  position: relative;
}

.tooltip-text::before {
  content: "";
  width: 16px;
  height: 14px;
  background-color: #333333;
  position: absolute;
  transform: rotate(45deg) translateX(-50%);
  left: 49%;
  top: 0;
}

.tooltip:hover .tooltip-text-container {
  display: block;
}


.tooltip-toggle:focus + .tooltip-text-container {
  display: block;
}

.modal {
  margin: 0;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(242, 242, 242, 0.8);
}

.modal--show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  padding: 64px 70px;
  width: 717px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  position: relative;
}

.modal-close {
  position: absolute;
  right: 51px;
  top: 63px;
  width: 52px;
  height: 52px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

}

.search-button:hover + .modal-window,
.search-button:focus + .modal-window {
  display: block;
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0px;
}

.modal-header {
  display: flex;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 37px;
}

.modal-find {
  display: inline-block;
  padding: 18px 77px;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0;
  border-radius: 10px;
  min-width: 577px;

}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  min-height: 48px;
  padding: 1px;
}

.modal-date {
  display: flex;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: 0;
  min-width: 440px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: inherit;
  width: 440px;
  padding-right: 59px;
  height: 48px;
}

.modal-date-went {
  background-image: url("../images/date.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 400px;
  background-position-y: 14px;

}

.modal-label {
  font-size: 20px;
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;

}

.error-message {
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
  margin-top: 3px;
  margin-left: 158px;
  margin-bottom: 24px;
}

.okay-message {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-top: 3px;
  margin-left: 158px;
  margin-bottom: 33px;
}

.form-wrapper-count {
  margin-bottom: 34px;
}

.adult-wrapper {
  display: flex;
  min-width: 247px;
  margin: 0;
  min-height: inherit;
  gap: 46px;
}

.kids-wrapper {
  display: flex;
  min-width: 242px;
  margin: 0;
  min-height: inherit;
  gap: 46px;
}

.decrease {
  border: 0;
  display: flex;
  padding: 14px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;

}

.decrease-minus {
  background-repeat: no-repeat;
  width: 40px;
  display: block;
  padding: 0;
  height: 48px;
  background-position-y: center;
  background-position-x: center;
  background: red;
  cursor: pointer;
}

.decrease-plus {
  background-repeat: no-repeat;
  width: 40px;
  display: block;
  padding: 0;
  height: 48px;
  background-position-y: center;
  background-position-x: center;
  background: red;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: #f2f2f2;
  height: 48px;
  border-radius: 4px;
  min-width: 110px;
  box-sizing: border-box;
}

.modal-count {
  background-color: inherit;
  width: 40px;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  height: 48px;
  border: none;
}

/* catalog*/



.main-catalog {
  margin: 0;
  width: 1200px;
  flex-grow: 1;
}


.filter-content {
  background-color: #82B3D3;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 35px 70px 61px 70px;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.filter-header {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.filter-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.catalogpoint {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
  align-items: center;
}

.catalogpoint-item {
  margin: 0;
}

.catalogpoint-item:first-child {
  background-image: url("../images/home-catalog.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 13px;
  height: 22px;
  cursor: pointer;
}

.catalogpoint-item:nth-last-child(2) {
  background-image: url("../images/row-left.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 11px;
  height: 22px;
  cursor: pointer;
}

.catalogpoint-link {
  font-size: 16px;
  color: #ffffff;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.filter-group-wrapper {
  display: flex;
  width: fit-content;
  margin: 0;
}

.catalog-filter-group {
  display: flex;
}

.filter-infra {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.infra-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.infra-box {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 4px;
}


.infra-items {
  margin-bottom: 12px;
  font-size: 18px;
  font-family: inherit;
  line-height: 23px;
}

.infra-items:last-child {
  text-transform: capitalize;
}

.checkbox-label {
  margin: 0;
  padding: 0;
}

.filter-house {
  border: none;
  margin: 0;
  padding: 0;
  min-width: 160px;
  margin-right: 70px;
  ;
}

.house-box {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.house-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.house-items {
  margin-bottom: 12px;
  font-size: 18px;
  font-family: inherit;
  line-height: 23px;
}

.filter-price {
  border: none;
}

.price-container {
  position: relative;
  width: 288px;
  display: flex;
  gap: 2px;
  margin-bottom: 35px;
}

.min-price-input {
  width: 143px;
  height: 48px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 0;
}

.max-price-input {
  width: 143px;
  height: 48px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 0;
}

.price-label {
  position: absolute;
  top: 12px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.min-price-label {
  left: 105px;
}

.max-price-label {
  right: 22px;
}

.range-container {
  width: 287px;
  position: relative;
  height: 20px;
}

.range-scale {
  width: 100%;
  height: 1px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  top: 8px;
  z-index: 1;
}

 .range {
  width: 226px;
  height: 1px;
  border-top: 4px solid #ffffff;
  position: absolute;
  left: 0;
  top: -4px;
  z-index: 5;
 }

 .handle-price {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -12px;
  z-index: 10;
 }

 .handle-price--min {
  left: 0;
 }

.handle-price--max {
  left: 206px;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 57px;

}

.button-show {
  display: inline-block;
  padding: 7px 50px;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0;
  border-radius: 4px;
  margin-bottom: 32px;
}

.button-show:hover {
  background-color: #68a2ca;
}

.button-show:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.button-drop {
  display: inline-block;
  padding: 7px 50px;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0;

}

.button-drop:hover {
  color: rgba(255, 255, 255, 0.3);
}

.button-drop:focus {
  border-radius: 4px;
  border: 3px solid #68a2ca
}

.button-drop:active {
  color: rgba(255, 255, 255, 0.3);

}

/**** GALLERY******/

.gallery {
  display: flex;
  padding: 50px 70px 60px 70px;
  flex-direction: column;
  margin: 0;
}

.gallery-select {
  display: flex;
  margin: 0;
  margin-bottom: 24px;
  justify-content: space-between;
  padding-top: 7px;
}

.select-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.gallery-select-control {
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  padding: 14px 131px 20px 14px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
}

.gallery-select-control:hover {
  border: 2px solid #68A2CA;
}

.gallery-select-control:active {
  border: 2px solid #3F5E72;
}

.view-wrapper {
  display: flex;
  min-width: 160px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.gallery-view {
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  margin: 0;
  padding: 12px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  box-sizing: border-box;
}

.gallery-view-light {
  border: 2px solid #000000;
  background-image: url("../images/view-icon-1.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

}

.gallery-view-ful {
  background-image: url("../images/view-icon-2.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.gallery-view-column {
  background-image: url("../images/view-icon-3.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.cards {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.card {
  width: 340px;
  min-height: 438px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
}

.cards-images {
  margin: 0;
  margin-bottom: 16px;
}

.cards-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-price-hotel {
  font-size: 18px;
  line-height: 21px;
}

.card-price-value {
  font-size: 18px;
  line-height: 21px;
}

.cards-sellect {
  display: flex;

}

.cards-more {
  display: inline-block;
  padding: 7px 50px;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0;
  margin-right: 20px;
  border-radius: 4px;
  height: 36px;
}

.cards-more:focus {
  background-color: #615048;
}

.cards-more:active {
  color: rgba(255, 255, 255, 0.30));
}

.button-favorite {
  display: inline-block;
  padding: 7px 50px;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0;

  border-radius: 4px;

}

.button-favorite:focus {
  background-color: #68A2CA;
}

.button-favorit:active {
  color: rgba(255, 255, 255, 0.30));
}

/*__________________________*/
.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-item {
  display: flex;
  height: 60px;
  min-width: 60px;
  background-color: #82b3d3;
  box-sizing: border-box;
  padding: 11.364px 0px 12.636px 0px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

}

.pagination-link {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.30);
}

.pagination-current {
  color: #333333;
}

.pagination-item:first-child {
  background-color: #f2f2f2;
}

.pagination-item:nth-last-child(2) {
  background-color: #ffffff;
}

.pagination-item:hover {
  background-color: #68A2CA;
}
